body {
    padding: 10px;
    font-family: Montserrat, sans-serif;
}

.root {
    display: block;
}

.element {
    width: 600px;
    margin: 0 auto;
    padding: 5px 10px 5px 15px;
    display: flex;
    flex-direction: column;
    border: 1px solid #bdbbc7;
    border-bottom: 0;
}
.element:last-child {
    border-bottom: 1px solid #bdbbc7;
}

.card-header {
    display: flex;
    margin-bottom: 5px;
}

.name {
    color: #0F1419;
    font-size: 14px;
    font-weight: 600;
    margin-right: 5px;
}

.email {
    color: #536471;
    font-size: 14px;
}

.title {
    padding-bottom: 10px;
    color: #0F1419;
    font-size: 15px;
}

.body {
    font-size: 15px;
    margin-bottom: 5px;
}

.button {
    width: 100px;
    border-radius: 5px;
    background: #e36c6c;
}

.button:hover {
    background: #cc1616;
}
